.About {
  margin-bottom: 4rem;
}

.About__header {
  padding: 1.2rem 1.5rem;
  margin: 0 -1.5rem 1rem;
}

.About__header h2 {
  font-size: 1rem;
  font-weight: 700;
}

.About__paragraph {
  margin-bottom: 1rem;
}

.About p {
  font-size: 1rem;
}

@media screen and (min-width: 1024px) {
  .About {
    margin-bottom: 9rem;
  }
}
