.MainHeader {
  width: 100%;
}

/* .MainHeader__title {
    
} */

.MainHeader__subtitle {
  padding-top: 0.8rem;
}

.MainHeader__summary {
  font-size: 1rem;
  padding-top: 1rem;
  max-width: 350px;
}

.MainHeader__nav {
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
}

.MainHeader__nav__item {
  padding: 0.5rem 0;
  cursor: pointer;

  font-size: 0.9rem;
  font-weight: 700;

  color: #e7e7e7;
}

.transition {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
  padding-right: 1rem;
}

.translate-in {
  transform: translateX(0rem);
}

.translate-out {
  transform: translateX(-1.8rem);
  color: #a7a5b7;
}

.MainHeader__links {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}

.MainHeader__links li {
  width: 1.5rem;
  height: 1.5rem;

  transition: transform 0.3s ease-in-out;
}

.MainHeader__links li:hover {
  transform: scale(1.1);

  /* Add very small shadow  */
  box-shadow: 0 0 2rem 1px #5eead4;
}

@media screen and (min-width: 1024px) {
  .MainHeader {
    display: flex;
    flex-direction: column;
    min-height: 75vh;
    justify-content: space-between;
  }
}
